
<form name="myForm" ng-submit="submitForm(myForm)" novalidate>
    <!--style="margin-top: 70px"-->
    <table class="form-table-horizontal">


        <tr>
            <th>
                <label for="TtpMonth">TTP</label>
            </th>
            <td>
                <table>
                    <tr>
                        <td style="width: 50%; padding: 0">
                            <select id="TtpMonth" name="TtpMonth" ng-model="current.TtpMonth" ng-change="onCalculate()">
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </td>
                        <td style="padding: 0 0 0 10px">
                            <input type="number" id="TtpYear" min="2017" max="2999" name="TtpYear" ng-model="current.TtpYear" ng-change="onCalculate()" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr>
            <th>
                <label for="WorkingMonth">Working Month</label>
            </th>
            <td>
                <b ng-bind="current.WorkingMonth"></b>
            </td>
        </tr>

        <tr>
            <th>
                <label for="MaxLoanPeriod">Max Loan Period</label>
            </th>
            <td>
                <b ng-bind="current.MaxLoanPeriod"></b>
            </td>
        </tr>


        <tr>
            <th>
                <label for="Item">Item</label>
            </th>
            <td>


                <select id="Item" name="Item" ng-model="current.Item"
                        ng-options="item as item.Name for item in groups track by item.Name"
                        ng-change="onCalculate()"></select>
            </td>
        </tr>

        <tr>
            <th>
                <label for="Quantity">Quantity</label>
            </th>
            <td>
                <select id="Quantity" name="Quantity" ng-model="current.Quantity" ng-change="onCalculate()">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </td>
        </tr>

        <tr>
            <th>
                <label for="LoanPeriod">Loan Period</label>
            </th>
            <td>
                <input type="number" id="LoanPeriod" name="LoanPeriod" min="6" max="60" ng-model="current.LoanPeriod"  ng-blur="onCalculate()" autocomplete="off" />
            </td>
        </tr>


        <tr>
            <th>
                <label for="MonthlyAmount">Monthly Amount</label>
            </th>

            <td style="font-size: 22px">
                <b ng-bind="'RM ' + (current.MonthlyAmount | number: 2)"></b>
            </td>
        </tr>

        <tr>
            <th>
                <label for="LoanAmount">Loan Amount</label>
            </th>

            <td style="font-size: 22px">
                <b ng-bind="'RM ' + (current.LoanAmount | number: 2)"></b>
            </td>
        </tr>

        <!--<tr>
            <th>
                <label for="CashPrice"> Cash Price</label>
            </th>
            <td>
                <b ng-bind="'RM ' + (current.CashPrice | number: 2)"></b>
            </td>
        </tr>-->

        <tr>
            <th>
                <label for="RetailPriceNoGst">Retail Price (No GST)</label>
            </th>

            <td>
                <b ng-bind="'RM ' + (current.RetailPriceNoGst | number: 2)"></b>
            </td>
        </tr>


        <tr>
            <th>
                <label for="Gst">GST</label>
            </th>

            <td>
                <b ng-bind="'RM ' + (current.Gst | number: 2)"></b>
            </td>
        </tr>


        <tr>
            <th>
                <label for="Rebate">Rebate</label>
            </th>

            <td>
                <b ng-bind="'RM ' + (current.Rebate | number: 2)"></b>
            </td>
        </tr>


        <tr>
            <th>
                <label for="Remark">Remark</label>
            </th>

            <td>
                <b ng-bind="current.Remark"></b>
            </td>
        </tr>

        <tr>
            <th>
                <label for="Sku">SKU</label>
            </th>

            <td>
                <b ng-bind="current.Sku"></b>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="button" ng-click="applyLoan()" ng-disabled="isDisabled" class="form-button">Apply</button>
            </td>
        </tr>
    </table>
</form>


