
<form name="myForm" ng-submit="submitForm(myForm)" novalidate style="margin: 120px auto 70px auto">

    <table class="form-table-horizontal" ng-show="tab == 1">
        <tr>
            <th>
                <label for="IcNo">IC No</label>
            </th>
            <td>
                <input id="IcNo" name="IcNo" type="text" ng-model="current.IcNo" maxlength="15" required autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="Name">Name</label>
            </th>
            <td>
                <input type="text" id="Name" name="Name" ng-model="current.Name" maxlength="100" required autocomplete="off" />
            </td>
        </tr>


        <tr>
            <th>
                <label for="DOBd">Date Of Birth</label>
            </th>
            <td>
                <table>
                    <tr>
                        <td style="padding: 0; width: 30%">
                            <select id="DOBd" name="DOBd" ng-model="current.DOBd">
                                <option value="">DD</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </td>
                        <td style="padding: 0 0 0 10px; width: 30%">
                            <select id="DOBm" name="DOBm" ng-model="current.DOBm">
                                <option value="">MM</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>

                            </select>
                        </td>
                        <td style="padding: 0 0 0 10px; width: 40%">
                            <input type="number" id="DOBy" name="DOBy" ng-model="current.DOBy" min="1900" max="2999" required autocomplete="off" placeholder="yyyy" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <th>
                <label for="SmsMobilePhone">Mobile Phone</label>
            </th>
            <td>
                <input type="tel" id="SmsMobilePhone" name="SmsMobilePhone" ng-model="current.SmsMobilePhone" maxlength="15" required autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="PhoneHouse">Home Phone</label>
            </th>
            <td>
                <input type="tel" id="PhoneHouse" name="PhoneHouse" ng-model="current.PhoneHouse" maxlength="15" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="Email">Email</label>
            </th>
            <td>
                <input type="email" id="Email" name="Email" ng-model="current.Email" maxlength="50" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="NoOfDependent">No Of Dependent</label>
            </th>
            <td>
                <input type="number" id="NoOfDependent" name="NoOfDependent" ng-model="current.NoOfDependent" min="0" max="99" autocomplete="off" />
            </td>
        </tr>
    </table>

    <table class="form-table-horizontal" ng-show="tab == 2">
        <tr>
            <th>
                <label for="ResidentialAddress1">Home Address</label>
            </th>
            <td>
                <input type="text" id="ResidentialAddress1" name="ResidentialAddress1" ng-model="current.ResidentialAddress1" maxlength="30" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <th>
                <label for="ResidentialAddress2"></label>
            </th>
            <td>
                <input type="text" id="ResidentialAddress2" name="ResidentialAddress2" ng-model="current.ResidentialAddress2" maxlength="30" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <th>
                <label for="ResidentialAddress3"></label>
            </th>
            <td>
                <input type="text" id="ResidentialAddress3" name="ResidentialAddress3" ng-model="current.ResidentialAddress3" maxlength="30" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="Postcode">Postcode</label>
            </th>
            <td>
                <input type="text" id="Postcode" name="Postcode" ng-model="current.Postcode" maxlength="10" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="State">State</label>
            </th>
            <td>
                <input type="text" id="State" name="State" ng-model="current.State" maxlength="20" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="ResidenceType">Residence Type</label>
            </th>
            <td>
                <select id="ResidenceType" name="ResidenceType" ng-model="current.ResidenceType">
                    <option value=""></option>
                    <option value="Rumah Sendiri">Rumah Sendiri</option>
                    <option value="Rumah Ibu Bapa">Rumah Ibu Bapa</option>
                    <option value="Rumah Saudara">Rumah Saudara</option>
                    <option value="Rumah Sewa">Rumah Sewa</option>
                    <option value="Kediaman Syarikat">Kediaman Syarikat</option>
                    <option value="Lain-Lain">Lain-Lain</option>
                </select>
            </td>
        </tr>

        <tr ng-show="current.ResidenceType == 'Lain-Lain'">
            <th>
                <label for="ResidenceTypeOther">Lain-Lain</label>
            </th>
            <td>
                <input type="text" id="ResidenceTypeOther" name="ResidenceTypeOther" ng-model="current.ResidenceTypeOther" maxlength="20" autocomplete="off" />
            </td>
        </tr>


        <tr>
            <th>
                <label for="LengthOfStayYr">Length Of Stay</label>
            </th>
            <td>
                <table>
                    <tr>
                        <td style="padding: 0; width: 50%">
                            <input id="LengthOfStayYr" name="LengthOfStayYr" type="number" ng-model="current.LengthOfStayYr" min="0" max="99" placeholder="Year" autocomplete="off" />
                        </td>
                        <td style="padding: 0 0 0 10px; width: 50%">
                            <input id="LengthOfStayMth" name="LengthOfStayMth" type="number" ng-model="current.LengthOfStayMth" min="0" max="99" placeholder="Month" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="form-table-horizontal" ng-show="tab == 4">

        <tr>
            <th>
                <label for="EmergencyTitle">Title</label>
            </th>
            <td>
                <select id="EmergencyTitle" name="EmergencyTitle" ng-model="current.EmergencyTitle" ng-options="model.id as model.name for model in EmergencyTitles"></select>
            </td>
        </tr>

        <tr ng-show="current.EmergencyTitle == 4">
            <th>
                <label for="EmergencyTitleOther">Title (Other)</label>
            </th>
            <td>
                <input type="text" id="EmergencyTitleOther" name="EmergencyTitleOther" ng-model="current.EmergencyTitleOther" maxlength="20" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="EmergencyName">Name</label>
            </th>
            <td>
                <input type="text" id="EmergencyName" name="EmergencyName" ng-model="current.EmergencyName" maxlength="100" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="EmergencyRelationship">Relationship</label>
            </th>
            <td>
                <select id="EmergencyRelationship" name="EmergencyRelationship" ng-model="current.EmergencyRelationship" ng-options="model.id as model.name for model in EmergencyRelationships"></select>
            </td>
        </tr>

        <tr>
            <th>
                <label for="EmergencyAddress1">Home Address</label>
            </th>
            <td>
                <input type="text" id="EmergencyAddress1" name="EmergencyAddress1" ng-model="current.EmergencyAddress1" maxlength="50" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <th>
                <label for="EmergencyAddress2"></label>
            </th>
            <td>
                <input type="text" id="EmergencyAddress2" name="EmergencyAddress2" ng-model="current.EmergencyAddress2" maxlength="50" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <th>
                <label for="EmergencyAddress3"></label>
            </th>
            <td>
                <input type="text" id="EmergencyAddress3" name="EmergencyAddress3" ng-model="current.EmergencyAddress3" maxlength="50" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="EmergencyPostcode">Postcode</label>
            </th>
            <td>
                <input type="text" id="EmergencyPostcode" name="EmergencyPostcode" ng-model="current.EmergencyPostcode" maxlength="10" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="EmergencyState">State</label>
            </th>
            <td>
                <input type="text" id="EmergencyState" name="EmergencyState" ng-model="current.EmergencyState" maxlength="50" autocomplete="off" />
            </td>
        </tr>


        <tr>
            <th>
                <label for="EmergencyPhoneHouse">House Phone</label>
            </th>
            <td>
                <input type="tel" id="EmergencyPhoneHouse" name="EmergencyPhoneHouse" ng-model="current.EmergencyPhoneHouse" maxlength="20" autocomplete="off" />
            </td>
        </tr>


        <tr>
            <th>
                <label for="EmergencyPhoneMobile">Mobile Phone</label>
            </th>
            <td>
                <input type="tel" id="EmergencyPhoneMobile" name="EmergencyPhoneMobile" ng-model="current.EmergencyPhoneMobile" maxlength="20" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="EmergencyPhoneOffice">OFFICE Phone</label>
            </th>
            <td>
                <table>
                    <tr>
                        <td style="padding: 0; width: 65%">
                            <input type="tel" id="EmergencyPhoneOffice" name="EmergencyPhoneOffice" ng-model="current.EmergencyPhoneOffice" maxlength="20" autocomplete="off" />
                        </td>
                        <td style="padding: 0 0 0 10px; width: 35%">
                            <input id="EmergencyPhoneOfficeExt" name="EmergencyPhoneOfficeExt" type="text" ng-model="current.EmergencyPhoneOfficeExt" maxlength="20" placeholder="Ext" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>








    <table class="form-table-horizontal" ng-show="tab == 3">

        <tr>
            <th>
                <label for="EmploymentType">Employment Type</label>
            </th>
            <td>
                <select id="EmploymentType" name="EmploymentType" ng-model="current.EmploymentType" ng-options="model.id as model.name for model in EmploymentTypes"></select>
            </td>
        </tr>

        <tr>
            <th>
                <label for="StaffType">Staff Type</label>
            </th>
            <td>
                <select id="StaffType" name="StaffType" ng-model="current.StaffType" ng-options="model.id as model.name for model in StaffTypes"></select>
            </td>
        </tr>

        <tr>
            <th>
                <label for="Occupation">Occupation</label>
            </th>
            <td>
                <select id="Occupation" name="Occupation" ng-model="current.Occupation" ng-options="model.id as model.name for model in Occupations"></select>
            </td>
        </tr>

        <tr>
            <th>
                <label for="EmploymentDated">Employment Date</label>
            </th>
            <td>
                <table>
                    <tr>
                        <td style="padding: 0; width: 30%">
                            <select id="EmploymentDated" name="EmploymentDated" ng-model="current.EmploymentDated">
                                <option value="">DD</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </td>
                        <td style="padding: 0 0 0 10px; width: 30%">
                            <select id="EmploymentDatem" name="EmploymentDatem" ng-model="current.EmploymentDatem">
                                <option value="">MM</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>

                            </select>
                        </td>
                        <td style="padding: 0 0 0 10px; width: 40%">
                            <input type="number" id="EmploymentDatey" name="EmploymentDatey" ng-model="current.EmploymentDatey" min="1900" max="2999" required autocomplete="off" placeholder="yyyy" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr>
            <th>
                <label for="ConfirmationDate">Confirmation Date</label>
            </th>
            <td>
                <table>
                    <tr>
                        <td style="padding: 0; width: 30%">
                            <select id="ConfirmationDated" name="ConfirmationDated" ng-model="current.ConfirmationDated">
                                <option value="">DD</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </td>
                        <td style="padding: 0 0 0 10px; width: 30%">
                            <select id="ConfirmationDatem" name="ConfirmationDatem" ng-model="current.ConfirmationDatem">
                                <option value="">MM</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>

                            </select>
                        </td>
                        <td style="padding: 0 0 0 10px; width: 40%">
                            <input type="number" id="ConfirmationDatey" name="ConfirmationDatey" ng-model="current.ConfirmationDatey" min="1900" max="2999" required autocomplete="off" placeholder="yyyy" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr>
            <th>
                <label for="PayslipNo">Payslip No</label>
            </th>
            <td>
                <input type="text" id="PayslipNo" name="PayslipNo" ng-model="current.PayslipNo" maxlength="20" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="RetireAge">Retire Age</label>
            </th>

            <td>
                <input id="RetireAge" name="RetireAge" type="number" ng-model="current.RetireAge" min="0" max="99" autocomplete="off" />
            </td>
        </tr>



        <tr>
            <th>
                <label for="EmploymentOccupationType">Occupation Type</label>
            </th>
            <td>
                <select id="EmploymentOccupationType" name="EmploymentOccupationType" ng-model="current.EmploymentOccupationType">
                    <option value=""></option>
                    <option value="Employed">Employed</option>
                    <option value="Self-Employed">Self-Employed</option>
                </select>
            </td>
        </tr>

        <tr>
            <th>
                <label for="EmploymentName">Employer Name</label>
            </th>
            <td>
                <input type="text" id="EmploymentName" name="EmploymentName" ng-model="current.EmploymentName" maxlength="100" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="BusinessNature">Business Nature</label>
            </th>
            <td>
                <input type="text" id="BusinessNature" name="BusinessNature" ng-model="current.BusinessNature" maxlength="100" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="DepartmentName">Department</label>
            </th>
            <td>
                <input type="text" id="DepartmentName" name="DepartmentName" ng-model="current.DepartmentName" maxlength="100" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="Position">Position</label>
            </th>
            <td>
                <input type="text" id="Position" name="Position" ng-model="current.Position" maxlength="50" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="LengthOfServiceYr">Length Of Service</label>
            </th>
            <td>
                <table>
                    <tr>
                        <td style="padding: 0; width: 50%">
                            <input id="LengthOfServiceYr" name="LengthOfServiceYr" type="number" ng-model="current.LengthOfServiceYr" min="0" max="99" placeholder="Year" autocomplete="off" />
                        </td>
                        <td style="padding: 0 0 0 10px; width: 50%">
                            <input id="LengthOfService" name="LengthOfService" type="number" ng-model="current.LengthOfService" min="0" max="99" placeholder="Month" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <th>
                <label for="OfficeAddress1">OFFICE Address</label>
            </th>
            <td>
                <input type="text" id="OfficeAddress1" name="OfficeAddress1" ng-model="current.OfficeAddress1" maxlength="30" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <th>
                <label for="OfficeAddress2"></label>
            </th>
            <td>
                <input type="text" id="OfficeAddress2" name="OfficeAddress2" ng-model="current.OfficeAddress2" maxlength="30" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <th>
                <label for="OfficeAddress3"></label>
            </th>
            <td>
                <input type="text" id="OfficeAddress3" name="OfficeAddress3" ng-model="current.OfficeAddress3" maxlength="30" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="OfficePostcode">Postcode</label>
            </th>
            <td>
                <input type="text" id="OfficePostcode" name="OfficePostcode" ng-model="current.OfficePostcode" maxlength="10" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="OfficeState">State</label>
            </th>
            <td>
                <input type="text" id="OfficeState" name="OfficeState" ng-model="current.OfficeState" maxlength="50" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="OfficePhone">OFFICE Phone</label>
            </th>
            <td>
                <table>
                    <tr>
                        <td style="padding: 0; width: 65%">
                            <input type="tel" id="OfficePhone" name="OfficePhone" ng-model="current.OfficePhone" maxlength="20" autocomplete="off" />
                        </td>
                        <td style="padding: 0 0 0 10px; width: 35%">
                            <input id="OfficePhoneExt" name="OfficePhoneExt" type="text" ng-model="current.OfficePhoneExt" maxlength="20" placeholder="Ext" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <th>
                <label for="GrossSalary">Gross Salary</label>
            </th>

            <td>
                <input id="GrossSalary" name="GrossSalary" type="number" ng-model="current.GrossSalary" min="0" max="99999" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <th>
                <label for="NetSalary">Net Salary</label>
            </th>

            <td>
                <input id="NetSalary" name="NetSalary" type="number" ng-model="current.NetSalary" min="0" max="99999" autocomplete="off" />
            </td>
        </tr>


        <tr>
            <th>
                <label for="SalaryDate">Salary Date (Day)</label>
            </th>

            <td>
                <input id="SalaryDate" name="SalaryDate" type="number" ng-model="current.SalaryDate" min="0" max="31" autocomplete="off" />
            </td>
        </tr>

    </table>









    <table class="form-table-horizontal">
        <tr>
            <td>
                <button class="form-button" ng-disabled="!myForm.$valid || isDisabled">Save</button>
            </td>
        </tr>

        <tr>
            <td style="text-align: center">
                <!--<a class="link" href="" ng-click="print()">Print</a>-->
            </td>
        </tr>
    </table>
</form>




<menu id="menu">
    <button class="menu-button-std" ng-class="{'active': tab == 1}" ng-click="changeTab(1)">Info</button>
    <button class="menu-button-std" ng-class="{'active': tab == 2}" ng-click="changeTab(2)">Home</button>
    <button class="menu-button-std" ng-class="{'active': tab == 3}" ng-click="changeTab(3)">Work</button>
    <button class="menu-button-std" ng-class="{'active': tab == 4}" ng-click="changeTab(4)">Emergency</button>
</menu>

<button class="tb icon-bin-2" ng-click="delete()"></button>






